body {
    background: #007bff;
    display: flex;
    justify-content: center;
}

ul, li {
    margin: 0;
    padding: 0;
}

.quizBox {
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quizBox header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quizBox header h1 {
    font-size: 20px;
    font-weight: 600;
}

li {
    list-style: none;
}

button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.fade {
    visibility: hidden;
    transition: visibility 0s 2s, linear;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionBox {
    padding: 20px 0px;
    display: block;   
}

.optionBox li {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.correct {
    color: #155724 !important;
    background: #d4edda !important;
    border: 1px solid #c3e6cb !important;
}

.incorrect {
    color: #721c24 !important;
    background: #f8d7da !important;
    border: 1px solid #f5c6cb !important;
}

.optionBox li:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.questions {
    font-size: 25px;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: space-around;
}

.scoreAndTimerBox {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

footer #timer {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
    margin-bottom: 10px;
}

footer #score {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
    margin-bottom: 10px;
}

#scoreText {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 27px;
}

#timerText {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 27px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highScoreHeading {
    font-size: 20px;
    font-weight: 600;
}

.initials {
    color: #007bff;
    font-size: medium;
    font-weight: 700;
}

.finalScore {
    color: #36454F;
    font-size: medium;
    font-weight: 700;
}

#highScores li {
    margin-bottom: 10px;
}