li {
    border: 1px solid black;
}

li:hover {
    background: grey;
}

.hidden {
    display: none;
}

/* Style correct answers on click*/
.correct {
    background: green;
}

/* Style incorrect answers on click */
.incorrect {
    background: red;
}

.fade {
    visibility: hidden;
    transition: visibility 0s 2s, linear;
}